@import '~bootstrap/scss/bootstrap';


$base-font-size: 16px;

@mixin vertical-center{
    display: flex;
    align-items: center;
}

@mixin horizontal-end{
    display: flex;
    justify-content: flex-end;
}

body{
    box-sizing: border-box;
    font-size: $base-font-size;
    margin: 0;
    padding: 0;
    background-color: #C8E0F4;
}