.tile{
    height: 20rem !important;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.tile:hover{
    background-color: pink;
    transform: scale(1.03);
}

/* For screens smaller than medium (sm) */
@media (max-width: 767px) {
    /* Remove hover effect for small screens */
    .tile:hover {
    //   background-color: initial;
      transform: none;
    }
  }